body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  color: var(--lightest);
  background-color: var(--darkest);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --lightest: #6fffe9;
  --light: #5bc0be;
  --medium: #3a506b;
  --dark: #1c2541;
  --darkest: #0b132b;
  --feature-light: #ffe5ca;
  --feature: #fa753c;
  --feature-dark: #6e2211;
  --off-white: #08031c;
}

.application{
  height: 95vh;
}

.body{
  margin-left: 25vw;
  width: 70vw;
  transition: .4s;
}

.bodyNX{
  margin-left: 10vw;
  width: 85vw;
  transition: .4s;
}