body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  background-color: rgb(207, 207, 207);
}

.textButton {
  background: none; /* Remove background */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  font: inherit; /* Use the same font as the parent */
  color: inherit; /* Use the same text color as the parent */
  cursor: pointer; /* Show pointer cursor on hover */
  text-decoration: none; /* Add underline to mimic link styling */
}

.textButton:hover {
  color: rgb(106, 0, 130); /* Change color on hover (optional) */
  text-decoration: none; /* Remove underline on hover (optional) */
}

.box {
  width: 7.5rem;
  height: 7.5rem;
  background-color: rgba(255, 255, 255, 0);
  border: 0.5rem solid black;
  padding: 10px;
  margin: -9px;
}

.navi{
  position:fixed;
  width:100vw;
  margin:0;
  border-block: solid black;
  border-block-width:0.5rem;
  left:0;
  top:0;
  
 .navi_list{
    display:flex;
    background-color:rgb(106, 0, 130);
    justify-content:flex-end;
    align-items:center;
    gap:3rem;
    margin: 0 0;
  }
  .navi_listItem{
    list-style:none;
    font-size:3rem;
    font-weight:bold;
    position:relative;
    border: 0.5rem solid;
    background-color: rgb(152, 152, 152);
    cursor:pointer;
    flex: 1;
    color:black;
    
    &:hover ul, &:focus ul{
    opacity:1;
    visibility:visible;
    }
  }
  .navi_listDrop{
    position:absolute;
    font-size:2rem;
    top:4.5rem;
    left:1rem;
    border: 0.5rem solid;
    background-color:white;
    border-radius:0.25rem;
    align-items:center;
    width:20rem;
    padding:1rem;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    opacity:0;
    visibility:hidden;
    transition:opacity 200ms ease-in-out;
  }
  li{
    list-style:none;
    padding:0.5rem 1rem;
    border-radius:0.25rem;
    transition:background-color 200ms ease-in-out;
    
    &:hover, &:focus{
      background-color: white;
    }
  }
  .navi_listProfile{
    list-style:none;
    font-size:3rem;
    font-weight:bold;
    position:relative;
    right:-0.5rem;
    cursor:pointer;
    
    &:hover ul, &:focus ul{
    opacity:1;
    visibility:visible;
    }
  }
  .navi_listDropProfile{
    position:absolute;
    font-size:2rem;
    top:7.3rem;
    left:-1.5rem;
    border: 0.5rem solid black;
    background-color:white;
    border-radius:0.25rem;
    width:10rem;
    align-items:center;
    padding:1rem;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    opacity:0;
    visibility:hidden;
    transition:opacity 200ms ease-in-out;
  }
  li{
    list-style:none;
    padding:0.5rem 1rem;
    border-radius:0.25rem;
    transition:background-color 200ms ease-in-out;
    
    &:hover, &:focus{
      background-color: #ffffff;
    }
  }
  
}

t1{
  position:relative;
  font-size:10rem;
  font-weight:bold;
  color:rgb(106, 0, 130);
  top:40vh;
  left:25vw;
}

footer{
  border-block:solid;
  border-block-width:0.5rem;
  background-color:rgb(106, 0, 130);
  font-size:3rem;
  font-weight:bold;
  position:fixed;
  bottom:0rem;
  width:100%;
  color:black;
  text-align:right;
}


@media (prefers-color-scheme: light) {
  navi_listDrop:hover{
    color: #D3D3D3;
  }
}