.page{
    padding: 2vh;
    font-size: 0;
}
.menuContainer{
    background-color: var(--dark);
    height: 3vw;
    display: flex;
    justify-content: space-between;
}
.menuContainer p{
    padding-left: 3vw;
    color: var(--lightest);
}
.groupContainer{
    background-color: var(--medium);
    height: 15vw;
}
.groupItem{
    background-color: var(--feature);
    border: 2px solid var(--lightest);
    max-width: 50vw;
    max-height: 50vw;
    margin: 15px;
    padding: 0;
    width: 200px;
    height: 200px;
    background-color: var(--darkest);
    border-color: var(--lightest);
    border-radius: 1px;
    color: var(--lightest);

    text-align: center;
}
.groupItemHeader{
    background-color: var(--dark);
    font-size: 8px;
    border: 1px solid var(--medium);
}
.groupItemContent{
    font-size: 7px;
}