.page{
  padding: 2vh;
  font-size: 12;
}

.page{ 
  background-color: var(--darkest);
}

.pageHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--medium);
}

.groupHeaders{
  height: 3vw;
  background-color: var(--medium);
  color: var(--lightest);
  text-align: center;
}

.menuButton{
    background-color: var(--dark);
    color: var(--lightest);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    height: 60%;
    margin: 8px;

    cursor: pointer;
    &:hover {
      background-color: var(--feature);
    }
    align-items: center;
    justify-content: center;
    text-align: center;
  
    @media screen and (max-width: 600px) {
      display: flex;
      width: 100%;
    }
}

.leftButtons{
    display: flex;
}
.rightButtons{
    display: flex;
}

.groupItem{
  background-color: var(--feature);
  border: 2px solid var(--lightest);
  max-width: 50vw;
  max-height: 50vw;
  margin: 15px;
  width: 200px;
  height: 200px;
  background-color: var(--darkest);
  border-color: var(--lightest);
  border-radius: 1px;
  color: var(--lightest);

  text-align: center;
}

.groupContainer{
  overflow-y: auto;
  height: 40vh;
  background-color: var(--medium);
  border: 2px solid var(--darkest);
  border-top: 2px solid var(--lightest);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.groupContainerSmall{
  overflow-y: auto;
  height: 25vh;
  background-color: var(--medium);
  border: 2px solid var(--darkest);
  border-top: 2px solid var(--lightest);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}