.lobbyPage{
}

.menuButton{
    font-size: 15px;
	height: 10vh;
	text-decoration: none;
	text-transform: uppercase;
  	align-items: center;
  	width: 100%;
  	max-width: 10vw;
	border-radius: 10px;
  	outline: 2px solid var(--lightest);
  	outline-offset: -5px;
    color: var(--lightest);
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

p{
    font-size: 15px;
    color: var(--light);
}