.pageContainer{
    display: flex;
    /*position: absolute;*/
    padding-left: 12vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

.podiumContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4vw;
    height: 42vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 5px solid white;
    padding: 3vw 3vw 0 3vw;
    margin-top: 13vw;
}


.podiumContainerOld {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 4vw;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 5px solid white;
    padding: 3vw 3vw 0 3vw;
}

.podiumContainerOld:after{
    padding-top: 29vh;
    z-index: -1;
    content: "";
    background-color: #FFF;
    position: absolute;
    width: 5px;
    height: 70vh;
    top: 10px;
    left: 50%;
    display: block;
}

.podiumSecond {
    height: 30vh;
    width: 5vw;
    text-align: center;
    background-color: #C0C0C0;
    color: #000000;
}


.podiumFirst {
    height: 35vh;
    width: 5vw;
    text-align: center;
    background-color: #FFD700;
    color: #000000;
}

.podiumThird{
    height: 25vh;
    width: 5vw;
    text-align: center;
    background-color: #CD7F32;
    color: #000000;
}

.leaderboardContainerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboardContainer {
    background: rgba(255, 255, 255, 0.1);
    min-width: 35vw;
    min-height: 35vh;
    max-width: 50vw;
    border: 10px solid white;
    border-radius: 10px;
}

.leaderboardHeader {
    text-align: center;
}

.leaderboardPosContainer {
    display: flex;
    border-top: 2px solid white;
    justify-content: space-between;
    align-items: center;
}

.leaderboardPos{
    float: left;
    padding-left: 10px;
}

.leaderboardName{
    float: right;
    padding-right: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.podiumFirst h4,
.podiumSecond h4,
.podiumThird h4 {
    position: relative;
    top: -65px;
    width: 100%;
    text-align: center;
}

.podiumName {
    color: var(--lightest);
}

.scrollContainer {
    margin-top: 15vw;
    padding-right: 18px;
    min-width: 25vw;
    max-height: var(--scroll-max-height, 80vh); /* fallback to 80vh if not defined */
    overflow-y: auto;
    overflow-x: hidden;
}

